In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import dateparser

ModuleNotFoundError: No module named 'dateparser'

In [17]:
response = requests.get('https://www.tide-forecast.com/locations/Pearlington-Pearl-River-Mississippi/tides/latest')
soup = BeautifulSoup(response.content, 'lxml')
table = soup.find_all('table', {'class': 'tide-table'})
df = pd.read_html(str(table))[0]
df.head()

                0        1        2             3          4        5
0  Sunday 30 June  5:59 AM      CDT           NaN        NaN  Sunrise
1         1:04 PM      CDT   0.43 m   (1.40 feet)  High Tide      NaN
2         6:05 PM      CDT      NaN           NaN    Moonset      NaN
3         8:04 PM      CDT      NaN           NaN     Sunset      NaN
4        11:25 PM      CDT  -0.10 m  (-0.34 feet)   Low Tide      NaN

In [22]:
dateparser.parse(df['0'])

NameError: name 'dateparser' is not defined

In [ ]:
for index, row in df.iterrows: